body {
    background-color: #ffda9e;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
    background-color: #ebb27d;
}

img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}

nav{
    text-align: center;
    text-decoration: underline;
    background-color: #9b8360;
    padding: 0.5em;
    display: block;
}
